header {
    background: #fff;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
    padding: rem(15px) 0px;
    z-index: 120;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar {
        ul {
            li {
                margin: 0px rem(10px);
                a {
                    font-size: rem(19px);
                    text-transform: capitalize;
                    color: var(--primary);
                    position: relative;
                    display: block;
                    &:after {
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        transition: all 0.6s ease;
                        background: var(--secondary);
                    }
                    &:hover {
                        @media screen and (min-width: 1025px) {
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
                .search-icon {
                    svg {
                        width: 20px;
                        height: auto;
                    }
                    &:after {
                        display: none;
                    }
                    &:hover {
                        color: var(--secondary);
                    }
                }
                &.active {
                    a:after {
                        width: 100%;
                    }
                }
                &.search {
                    padding-top: 0;
                    .search-icon {
                        padding: 0;
                    }
                    .form-group {
                        margin: 0;
                        width: 0px;
                        position: absolute;
                        top: 0px;
                        right: -12px;
                        transition: width 0.5s cubic-bezier(0, 0.795, 0, 1);
                        font-size: 0;
                        visibility: hidden;
                        @media screen and (max-width: 575px) {
                            top: 35px;
                            right: -52px;
                        }
                        @media screen and (max-width: 500px) {
                            top: 142px;
                        }
                    }
                    form {
                        display: inline-block;
                        position: relative;
                        height: 22px;
                        width: 22px;
                        .form-control {
                            height: 40px;
                            display: inline-block;
                            outline: none;
                            box-shadow: none;
                            padding: 3px;
                            padding-left: rem(20px);
                            padding-right: rem(28px);
                            width: 100%;
                            cursor: pointer;
                            background: none;
                        }
                        .close-search {
                            z-index: 500;
                            color: #003160;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                            font-size: 0;
                            opacity: 0;
                            visibility: hidden;
                            cursor: pointer;
                            &:hover {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                        &.search-active {
                            .form-group {
                                width: 670px;
                                z-index: 200;
                                visibility: visible;
                                @media screen and (max-width: 1199px) {
                                    width: 510px;
                                }
                                @media screen and (max-width: 991px) {
                                    width: 320px;
                                    top: -5px;
                                }
                                @media screen and (max-width: 767px) {
                                    width: 100%;
                                    position: fixed;
                                    top: 75px;
                                    left: 0;
                                }
                                @media screen and (max-width: 500px) {
                                    top: 142px;
                                }
                            }
                            .form-control {
                                cursor: text;
                                outline: none;
                                background: #fff;
                                font-size: rem(18px);
                            }
                            .close-search {
                                font-size: rem(18px);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-group {
        margin-left: rem(15px);
        position: relative;
        width: max-content;
        .btn:first-child {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                width: 1px;
                height: 35%;
                background: #1c5a84;
                z-index: 9;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .btn {
            font-size: rem(18px);
            padding: rem(22px) rem(25px);
        }
    }
    .menu-icon {
        position: relative;
        cursor: pointer;
        display: none;
        z-index: 999;
        margin-left: 10px;
        span {
            width: 25px;
            height: 3px;
            background: #005e86;
            display: block;
            margin-bottom: 4px;
            transition: all .3s;
            &:nth-child(3) {
                width: 16px;
                position: relative;
            }
        }
        &:hover {
            span {
                &:nth-child(3) {
                    width: 25px;
                }
            }
        }
    }
    @media screen and (max-width:1199px) and (min-width:992px) {
        .btn-group {
            .btn {
                padding-left: rem(16px);
                padding-right: rem(16px);
                font-size: rem(16px);
            }
        }
        .navbar {
            ul {
                li {
                    margin: 0 rem(10px) 0 0;
                    a {
                        font-size: rem(16px);
                    }
                }
            }
        }
    }
    @media screen and (max-width:991px) {
        .navbar {
            flex-wrap: nowrap;
            .navbar-collapse {
                display: flex;
                align-items: center;
            }
        }
        .navbar-nav {
            flex-direction: row;
        }
        .btn-group {
            .btn {
                padding: rem(16px);
                font-size: rem(15px);
            }
        }
    }
    @media screen and (max-width:500px) {
        .navbar {
            flex-wrap: wrap;
            padding: 0;
        }
        .navbar-nav {
            margin-left: 0 !important;
        }
        .navbar-collapse {
            justify-content: space-between;
        }
        .navbar-brand {
            width: 100%;
            text-align: center;
            margin: 0 0 rem(16px) 0;
            padding: 0;
        }
    }
}

@media screen and (max-width:991px) {
    .show-on-lg {
        display: block !important;
    }
    .hide-on-lg {
        display: none !important;
    }
}