@import "import";
.custom_container{
    max-width: 1041px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.section{
    padding-bottom: rem(55px);
}
.pageHead{
    min-height: 105px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.1);
    position: relative;
    background: #fff;
}
// 1: signinModel
.modal-backdrop.show{
    background: transparent;
}
.checkbox{
    label{
        span.icon{
            width: 63px;
            height: 41px;
            display: inline-flex;
            background: var(--primary);
            padding: 18px;
            align-items: center;
            border-radius: 11px;
            svg{
                width: 100%;
                height: auto;
            }
        }
        span.label{
            
        }
    }
}
// Models 
#register{
    .modal-dialog{
        width: 600px;
    }
    .registerTypes{
        @include flex(flex-start, space-between);
        &__item{
            max-width: 260px;
            margin: auto;
            &--icon{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: #fff;
                border: solid 1px var(--primary);
                @include flex(center, center);
                padding: 30px;
                border: 3px solid transparent;
                transition: 0.5s ease all;
                color: var(--primary);
                margin-left: auto;
                margin-right: auto;
                svg{
                    width: 100%;
                    height: auto;
                }
            }
            &--title{
                font-size: rem(18px);
                color: #fff;
                font-weight: bold;
                margin-top: 20px;
                min-height: 34px;
                min-width: 238px;
                text-align: center;
                line-height: 1.2;
            }
            
        }
        .registerTypes__item{
            &:hover{
                .registerTypes__item--icon{
                    border: 3px solid var(--secondary);
                    box-shadow: 0 0 11px 4px rgba(0,130,255,0.7);
                }a{
                    color: var(--secondary);
                }
            }
            
        }
    }
    .modal-body{
        .flex-items{
            text-align: center;
            max-width: 260px;
            margin: auto;
            background: unset;
            border: unset;
            outline: none;
            cursor: pointer;
            .upper_circle{
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background: #fff;
                margin-left: auto;
                margin-right: auto;
                padding: rem(30px);
                border: 3px solid transparent;
                transition: 0.5s ease all;
                .icon{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s ease all;
                    color: var(--primary);
                    svg{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &:hover{
                .upper_circle{
                    border: 3px solid var(--secondary);
                    box-shadow: 0 0 11px 4px rgba(0,130,255,0.7);
                }
                .icon{
                    color: var(--secondary);
                }
            }
        }
    }
}
.User{
    &__logo{
        &--file{
            position: relative;
            width: 120px;
            height: 120px;
            background-image: url(../images/PopupImage_upload.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            border-radius: 50%;
        }  
    }
    &__field{
        &--label{
            max-width: 380px;
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
            line-height: 1.2;
            color: #fff;
            font-weight: normal;
        }
    }
    &__button{
        text-align: center;
        button{
            padding: 17px 70px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            max-width: unset;
        }
    }
    .custom_select{
        .dropdown {
            padding: unset;
            border: unset;
        }
        padding: unset;
        margin: unset;
        border: unset;
        select{
            margin: unset;
        }
        button{
            height: 55px;
        }
    }
    .form-group{
        margin-bottom: rem(20px);
        label{
            color: #bac9d7;
            font-size: rem(16px);
            margin-bottom: rem(12px);
        }
        &+div{
            position: relative;
            
        }
        textarea{
            height: 100px !important;
        }
        .form-control{
            &.icon_input{
                padding-left: calc(0.625rem + 47px);
            }
            
            height: 55px;
            &.focus-visible{
                background: #fff;
                color: #1c5a84;
            }
        }
        .icon{
            width: 27px;
            height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            color: var(--primary);
        }
        .fields-group{
            .form-control{
                &.bootstrap-select{
                    border: unset;
                }
                &:first-child{
                    width: 25%;
                    margin: unset;
                    padding: unset;
                    select{
                        margin: unset;
                    }
                    .dropdown-toggle{
                        margin: unset;
                        border-radius: 30px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 18px;
                        height: 55px;
                        &::after{
                            border: 0;
                            content: "";
                            width: 8px;
                            height: 6px;
                            margin-top: 0;
                            position: absolute;
                            right: 10px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
                &:nth-child(2){
                    width: 72%;
                }
            }
            
        }
        
    }
}



.properties{
    .property{
        $self: &;
        &__item{
            &--image{
                position: relative;
                img{
                    border-radius: 30px;
                    width: 100%;
                }
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s ease all;
                    button{
                        position: absolute;
                        bottom: 15px;
                        left: 40px;
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: rgba(28,90,132,0.7);
                        border-radius: 30px;
                    }
                }
            }
            &--verified{
                background: #fff;
                position: absolute;
                display: block;
                bottom: -4px;
                max-width: 48px;
                height: 48px;
                border: 3px solid #fff;
                border-radius: 50%;
                left: -3px;
                width: 48px;
                height: 48px;
                background-size: cover;
                background-repeat: no-repeat;
                &:before{
                    position: absolute;
                    content:"";
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-image: url(../images/svg/varified.svg);
                }
            }
            &--type{
                position: absolute;
                top: 12px;
                left: 12px;
                display: inline-flex;
                width: 62px;
                height: 29px;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.63);
                border-radius: 21px;
                color: #18335e;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                border: 1px solid rgba(255,255,255,0.3);
            }
            &--save{ 
                position: absolute;
                width: 18px;
                height: 18px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                background-color:#fff;
                bottom: 25px;
                right: 25px;
                cursor: pointer;
                // &:hover{
                //     background-color: red;
                // }
                &::before,&::after{
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    content: '';
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #fff;
                }
                &::before{
                    bottom: 0px;
                    left: -11px;
                }
                &::after{
                    top: -11px;
                    right: 0px;
                }
                &.active{
                    background-color: #0081ff;
                    box-shadow: 0 0 7px 4px rgba(255,255 ,255 ,0.4);
                    &::before,&::after{
                        background: #0081ff;
                    }
                }
            }
            &--delete{
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #fff;
                left: 17px;
                bottom: 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px;
                cursor: pointer;
            }
            &:hover{
                .overlay{
                    visibility: visible !important;
                    opacity: 1;
                }        
                
            }
        }
        
        &__info{
            margin-top: rem(20px);
            padding-left: rem(20px);  
            img.icon{
                max-width: 15px;
            }
            &--title{
                font-size: rem(25px);
                text-transform: capitalize;
                color: #1c5a84;
                font-weight: bold;
                margin: unset; 
                line-height: 0.8;
            }
            &--location{
                font-size: rem(18px);
                color: #515151;
                img{
                    margin-right: 5px;
                }
            }
            &--features{
                // img{
                //     max-width: 19px !important;
                // }
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        @include flex(flex-start,flex-start);
                        flex: 0 0 33.3%;
                        max-width: 33.3%;
                        position: relative;
                        color:#003160;
                        font-size: rem(18px);
                        // .icon{
                        //     display: flex;
                        //     width: 100%;
                        //     align-items: center;
                        //     justify-content: flex-start;
                        //     &_label{
                        //         color: #003160;
                        //     }
                        //     &_image{
                        //         flex: 0 0 30px;
                        //     }
                        // }
                        .icon{
                            margin-right: rem(18px);
                        }
                        img{
                            width: 22px;
                            height: auto;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            height: 70%;
                            width: 1px;
                            background: #0082ff;
                            left: calc(100% / 1.5);
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:last-child{
                            &::before{
                                content: unset;
                            }
                        }
                    }
                }
            }
            
        }
        &__organizor{
            padding-left: rem(20px);
            &--image{
                max-width: 61px;
                margin-right: 15px;
                border-radius: 50%;
                border: 2px solid #0082ff;
            }
            &--name{
                font-weight: bold;
                color: #003160;
                text-transform: uppercase;
                span{
                    display: block;
                    margin-bottom: 4px;
                    color: #598ea9;
                }
            }
        }
        
        
    }
}




.EditPopup{
    &__main{
        background: #f2f7ff;
        padding: 55px 0px;
    }
}